<span class="span10"><h1><%= @user.first_name %></h1></span>
<%= link_to 'logout', destroy_user_session_path %>

<div>
  <%= form_tag('/twitter_twit',  :html => { :class => "form-search"})  do %>
  <%= text_field_tag(:post)%>
  <%= submit_tag "Post"%>
  <% end %>
</div>
